@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); //fuente de letra

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
}
